In [3]:
import pandas as pd

file_path = '/content/종류별_이혼건수.csv'
df = pd.read_csv(file_path)
print(df.head())

     시점     소계   합의이혼  재판이혼   미상
0  2000  25477  21515  3794  168
1  2001  28962  23914  4791  257
2  2002  29351  24670  4504  177
3  2003  32499  28193  4054  252
4  2004  26994  22780  4025  189

ㅁㄴㅇㅁㄴㅇㅁㄴㅇ

In [4]:
# 정수형으로 변환
columns_to_convert = ['합의이혼', '재판이혼', '미상']
df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric, errors='coerce', downcast='integer')

# 변환 결과 확인
print(df.dtypes)
print(df.head())

시점        int64
소계        int64
합의이혼      int16
재판이혼      int16
미상      float64
dtype: object
     시점     소계   합의이혼  재판이혼     미상
0  2000  25477  21515  3794  168.0
1  2001  28962  23914  4791  257.0
2  2002  29351  24670  4504  177.0
3  2003  32499  28193  4054  252.0
4  2004  26994  22780  4025  189.0